
body {
    
    background-image: url(../imagenes/fondologin.jpg);

    background-position: center center;

    background-repeat: no-repeat;

    background-attachment: fixed;

    background-size: cover;

    background-color: #669999;
    
    }

.Error_ {

    font-size: 15px;
    color : red
}

a{
    color: rgb(7, 14, 73);
  }
  
  a:hover{
    color: rgb(15, 1, 63);
  }
  
.alerta_recuperacion
{
  color: red;
}